
.ButtonBuyMobile{
    min-height: 64px;
    min-width: 264px;
    max-width: 300px;
    color: #fff;
    background-color: #05964E;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    border-radius: 8px;
}

@media (min-width:900px) {
    .ButtonBuyMobile{
        min-height: 140px;
        min-width: 500px;
        max-width: 300px;
        color: #fff;
        background-color: #05964E;
        text-decoration: none;
        display: none;
        align-items: center;
        justify-content: center;
        margin-top: 32px;
        border-radius: 8px;
        font-size: 32px;
    }
}