
.FormInput{
    display: flex;
    flex-direction: column;
    min-width: 350px;
    gap: 8px;
}

.FormInput>select{
    height: 45px;
    border-radius: 8px;
    padding-left: 4px;
    border: none;
}

.FormInput>input{
    height: 40px;
    border-radius: 8px;
    padding-left: 8px;
    border: none;
}

@media (min-width:900px) {
    
.FormInput{
    display: flex;
    flex-direction: column;
    min-width: 350px;
    gap: 8px;
}

.FormInput>select{
    height: 45px;
    border-radius: 8px;
    padding-left: 4px;
    border: none;
}

.FormInput>input{
    height: 40px;
    border-radius: 8px;
    padding-left: 8px;
    border: none;
}
}