.HowToBuyBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    gap: 16px;
    width: 100%;
}

.IconBgHTB{
    /* background-color: #D9B34625; */
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TextBlockContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
    color: #fff;
    align-items: center;
}

.TextBlockContainer>h4{
    margin: 0;
    color: #D9B346;
}

.TextBlockContainer>p{
    padding-top: 5px;
    margin: 0;
    font-weight: 10;
    font-size: medium;
    text-align: center;
}



