
.ButtonBuy{
    min-height: 64px;
    min-width: 264px;
    max-width: 300px;
    color: #fff;
    background-color: #05964E;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    border-radius: 8px;
}